.minor-navigation{
  a{
    color: white;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 25px 5px 25px;
    border-radius: 30px;
    font-size: 18px;
  }

  a:hover{
    background-color: rgba(0, 200, 180, 0.6);
  }

  .current {
    background-color: rgba(0, 200, 180, 0.8);
  }
}

.minor-section{
  max-width: 800px;
}